<html>
	<head>
		<link rel="stylesheet" href="../css/reset.css">
		<script src="../js/p5.js"></script>
		<link rel="stylesheet" href="../css/grid.css">
		<link rel="stylesheet" href="fix.css">
		<script>
			var songString = "song2.mp3";
			var state = "CD";
			var era = 2;
			var bgString = "cd2bg.gif";
		</script>
		<title>CMU to SF</title>
		<script src="../js/locations.js"></script>
		<script src="../js/p5.dom.js"></script>
		<script src="../js/p5.sound.js"></script>
		<script src="../js/mainSketch.js"></script>
		<script src="https://use.fontawesome.com/68c66fb9d3.js"></script>
	</head>
	<body>
		<div class="container">
			<div class = "row timeBar">
				<div class="col-md-2 title"><a href="../screens.html">CMU DESIGN CENSUS</a></div>
				<div class="col-md-3 jobSelect">
					<a class = "Current" href="cd2.html">CD</a><a href="id2.html">ID</a><a href="ixd2.html">IXD</a>
				</div>
				<div class="col-md-5  timeSelect"><a href="cd1.html">PRE 2000s</a><a href="cd2.html" class = "Current">2000-2010</a><a  href="cd3.html">2010-2015</a>
				</div>
				<div class="col-md-2 links">
					<a href="../about.html">ABOUT</a>
					<a href="key.html">KEY</a>
					<a id="playToggle" href="#">SOUND OFF</a>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-2">
					<h1>Communication Design <br>2000s</h1>
					<p>The Internet is fully up and running, and many companies, including design agencies, are popping up in the Silicon Valley. After graduating from four years of rigorous design challenges at Carnegie Mellon, you got offered a position at Hughes Company in San Francisco, California as a designer. </p>
					<br>
					<h2 id = "contentTitle"></h2>
					<p id= "content"></p>
				</div>
				<div class = "col-md-10" id ="sketch-holder">
				</div>
			</div>
		</div>
	</body>
</html>