<html>
	<head>
		<link rel="stylesheet" href="../css/reset.css">
		<script src="../js/p5.js"></script>
		<link rel="stylesheet" href="../css/grid.css">
		<link rel="stylesheet" href="fix.css">
		<script>
			var songString = "song3.mp3";
			var state = "IX";
			var era = 3;
			var bgString = "3bg.gif";
		</script>
		<title>CMU to SF</title>
		<script src="../js/locations.js"></script>
		<script src="../js/p5.dom.js"></script>
		<script src="../js/p5.sound.js"></script>
		<script src="../js/mainSketch.js"></script>
		<script src="https://use.fontawesome.com/68c66fb9d3.js"></script>
	</head>
	<body>
		<div class="container">
			<div class = "row timeBar">
				<div class="col-md-2 title"><a href="../screens.html">CMU DESIGN CENSUS</a></div>
				<div class="col-md-3 jobSelect"><a class = "Current" href="cd3.html">CD</a><a href="id3.html">ID</a><a href="ixd3.html">IXD</a></div>
				<div class="col-md-5  timeSelect"><a href="cd1.html">PRE 2000s</a><a href="cd2.html">2000-2010</a><a class = "Current" href="cd2.html">2010-2015</a></div>
				<div class="col-md-2 links">
					<a href="../about.html">ABOUT</a>
					<a href="key.html">KEY</a>
					<a id="playToggle" href="#">SOUND OFF</a>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-2">
					<h1>Interaction Design <br>2015</h1>
					<p>By 2013, San Francisco fully recovered from the recession a few years prior, and the tech boom brought about a lot of new startups and well-renowned companies. You take this opportunity to join the wave of UX designers at QTech. </p>
					<br>
					<h2 id = "contentTitle"></h2>
					<p id= "content"></p>
				</div>
				<div class = "col-md-10" id ="sketch-holder">
				</div>
			</div>
		</div>
	</body>
</html>