<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/reset.css">
		<script src="../js/p5.js"></script>
		<link rel="stylesheet" href="../css/grid.css">
		<link rel="stylesheet" href="fix.css">
		<script>
			var bgString = "KEYbg.png";
		</script>
		<title>CMU to SF</title>
		<script src="../js/locations.js"></script>
		<script src="../js/p5.dom.js"></script>
		<script src="../js/keySketch.js"></script>
		<script src="https://use.fontawesome.com/68c66fb9d3.js"></script>
	</head>
	<body>
		<div class="container">
			<div class = "row timeBar">
				<div class="col-md-2 title"><a href="../screens.html">CMU DESIGN CENSUS</a></div>
				<!-- <div class="col-md-3 jobSelect">
					<a href="cd2.html">CD</a><a href="id2.html">ID</a><a href="ixd2.html" class = "Current">IXD</a>
				</div>
				<div class="col-md-5  timeSelect"><a href="ixd2.html" class = "Current">2000-2010</a><a href="ixd3.html">2010-2015</a>
				</div> -->
				<div class="col-md-2 col-md-offset-7 links">
					<a href="../about.html">ABOUT</a>
					<a href="key.html">KEY</a>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-2">
					<h1>Find out about <br>	our questions!</h1>
					<p>Hover over objects to see how we mapped our survey questions to the desk scenes.</p>
					<br>
					<h2 id = "contentTitle"></h2>
					<p id= "content"></p>
				</div>
				<div class = "col-md-10" id ="sketch-holder">
				</div>
			</div>
		</div>
	</body>
</html>