<html>
	<head>
		<link rel="stylesheet" href="../css/reset.css">
		<meta charset="UTF-8">
		<style>
			@font-face {
			  font-family: 'vt323';
			  src: url('VT323-Regular.ttf') format('truetype');
			}
			body{
				font-family: "vt323";
				background: black;
				width: 100%;
				height: 100%;
				background-size: cover;
				color: white;
				font-size: 20pt;
			}
			div{
				margin-left: 20%;
				margin-top: 20%;
				width: 40%;
			}
			a{
				text-decoration: none;
				color: white;
			}
			a:hover{
				color: yellow;
			}
		</style>
	</head>
	<body>
			<div>
				Although the Dot Com bubble popped a few years ago, the rise of Web 2.0 opens a lot of doors for you and you join ______  as an in-house _______.
				<br>
				<br>CD 2004: Hughes Company, designer
				<br>ID 2004: Anderson Company, Industrial designer 
				<br>
				<br>
				<a href="cd2.html">Continue</a>


			</div>
	</body>
</html>