<html>
	<head>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/grid.css">
		<link rel="stylesheet" href="fix.css">
		<script src="../js/p5.js"></script>
		<script>
			var state = "ID";
			var era = 1;
			var bgString = "1bgID.png";
		</script>
		<script src="../js/locations.js"></script>
		<script src="../js/mainSketch.js"></script>
	</head>
	<body>
	<div class = "row">
		<div class = "col-md-2">
			<h1>Industrial Design <br>Pre 2000s</h1>
			<p id = "content">The Internet is fully up and running, and many companies, including design agencies, are popping up in the Silicon Valley. After graduating from four years of rigorous design challenges at Carnegie Mellon, you got offered a position at ___ in San Francisco, California as a designer. </p>
		</div>
		<div class = "col-md-10" id ="sketch-holder">
		</div>
	</div>
	<div class = "row timeBar">	
		<div class="col-md-2 jobSelect"><a href="cd1.html">CD</a><a href="id1.html">ID</a></div>
		<div class="col-md-3 col-md-offset-2"><a href="id1.html"></a><div class="bar"></div></div>
		<div class="col-md-3"><a href="id2.html"></a><div class="bar"></div></div>
		<div class="col-md-1"><a href="id3.html"></a></div>
	</div>
	<div class = "row textTimeBar">
		<div class="col-md-3 col-md-offset-4">Pre 2000s</div>
		<div class="col-md-3">2000s</div>
		<div class="col-md-1">2015</div>
	</div>
	</body>
</html>